[submodule "Crowd-Fuding/lib/forge-std"]
	path = Crowd-Fuding/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Crowd-Fuding/lib/openzeppelin-contracts"]
	path = Crowd-Fuding/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
